
/* DARKTHEME */

  .darkTheme .layersPanel .card-body,
  .darkTheme .leaflet-bar-timecontrol
   {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
  }
  
  .darkTheme .card-header .predicciones, .darkThemeSub .predicciones {
    background-color: rgba(11, 90, 149, 0.7);
    color: white;
  }
  
  .darkTheme .card-header .tiempo_real, .darkThemeSub .tiempo_real {
    background-color: rgba(6, 136, 192, 0.7);
    color: white;
  }
  
  .darkTheme .card-header .historico, .darkThemeSub .historico {
    background-color: rgba(115, 170, 199, 0.7);
    color: white;
  }
  
  .darkTheme .predicciones .mapOptionChecked  img {
    background-color: rgba(11, 90, 149, 0.7);
    -webkit-transition: background-color 190ms linear;
    -moz-transition: background-color 190ms linear;
    -o-transition: background-color 190ms linear;
    -ms-transition: background-color 190ms linear;
    transition: background-color 190ms linear;
  }
  
  .darkTheme .predicciones .mapOptionChecked {
      color: rgba(11, 90, 149, 1);
      font-weight: bold;
  }
  
  .darkTheme .tiempo_real .mapOptionChecked  img {
    background-color: rgba(6, 136, 192, 0.7);
    -webkit-transition: background-color 190ms linear;
    -moz-transition: background-color 190ms linear;
    -o-transition: background-color 190ms linear;
    -ms-transition: background-color 190ms linear;
    transition: background-color 190ms linear;
  }
  
  .darkTheme .tiempo_real .mapOptionChecked {
      color: rgba(6, 136, 192, 1);
      font-weight: bold;
  }
  
  .darkTheme .historico .mapOptionChecked  img {
    background-color: rgba(115, 170, 199, 0.7);
    -webkit-transition: background-color 190ms linear;
    -moz-transition: background-color 190ms linear;
    -o-transition: background-color 190ms linear;
    -ms-transition: background-color 190ms linear;
    transition: background-color 190ms linear;
  }
  
  .darkTheme .historico .mapOptionChecked {
      color: rgba(115, 170, 199, 1);
      font-weight: bold;
  }
  
  .darkTheme .predicciones .lightable:hover  {
    color: rgba(11, 90, 149, 0.7);
  }
  
  
  .darkTheme .predicciones .minimized .lightable img:hover  {
    background-color: rgba(11, 90, 149, 0.4);
  }
  
  .darkTheme .tiempo_real .lightable:hover  {
    color: rgba(6, 136, 192, 0.7);
  }
  
  .darkTheme .tiempo_real .minimized .lightable img:hover  {
    background-color: rgba(6, 136, 192, 0.4);
  }
  
  .darkTheme .historico .lightable:hover  {
    color: rgba(115, 170, 199, 0.7);
  }
  
  .darkTheme .historico .minimized .lightable img:hover  {
    background-color: rgba(115, 170, 199, 0.4);
  }

  .darkTheme .card-header.tiempo_real {
    background-color: rgba(6, 136, 192, 0.7);
    color: white;
  }

  /* #no-bootstrap .darkTheme .leaflet-bar-timecontrol .leaflet-control-timecontrol a:hover{
    color: red !important;
  } */

/* .simoPanel .card-body {
  background: white !important;
} */


.darkTheme .markerPanel div:not(.dx-popup-title):not(.dx-button-content):not(.dx-button-text),
.darkTheme .staticMapPanel div:not(.dx-popup-title):not(.dx-button-content):not(.dx-button-text),
.darkTheme .dx-overlay-content,
.darkTheme .leaflet-popup-content .card-body,
.darkTheme .whiteBG,
.darkTheme .table-dark,
.darkTheme .shareInfoPanel,
.darkTheme .leaflet-popup-tip {
    background: rgb(74, 73, 79);
    color:white !important;
    border-radius: 0px !important;
}

.darkTheme .markerPanel .dx-button-content,
.darkTheme .staticMapPanel .dx-button-content
 {
    background-color: rgb(74, 73, 79);
    border: 1.5px solid !important;
    /* min-width: fit-content; */
    color: white;
}

.darkTheme .staticMapPanel select {
  background-color: rgb(74, 73, 79);
  color: white;
}

.darkTheme .notifyPopup .card-body {
  background: rgba(74, 73, 79, 0.8);
  color: white;
}

.darkTheme .notifyPopup .card-header {
  background: rgba(6, 136, 192, 0.7);
  color: white
}

.darkTheme .popupHeader {
  font-size: 15px !important;
  background: rgb(21, 91, 140) !important;
  color: white !important;
  padding: 7px !important;
}

.darkTheme .simoPanel .card-header {
  background-color: rgb(21, 91, 140);
  color: white;
}


.darkTheme #accordionContent *:not(.dx-button-content):not(.dx-button-text),
.darkTheme #specialContent,
.darkTheme .table-dark.table-striped tbody tr:nth-of-type(odd),
.darkTheme .grayBG
{
  background-color: rgb(64, 63, 69) !important;
  color: white;
}

.darkTheme #specialContentDeep
{
  background-color: black !important;
  color: white;
}

.darkTheme #accordionContent .card-body {
  border: 1px solid gray;
}


.darkTheme .markerPanel .dx-state-hover .dx-button-content,
.darkTheme .staticMapPanel .dx-state-hover .dx-button-content {
  background: rgb(21, 91, 140) !important;
}


.darkTheme .markerPanel .nav-link {
  color: #eff1f3;
  border-radius: 0px;
  /* background-color: #2a377e;
  border-color: #dee2e6 #dee2e6 #fff; */
}

.darkTheme .markerPanel .nav-link:hover {
  color: white;
  background-color: #606060;
  border-color:transparent;
}

.darkTheme .markerPanel .nav-link.active {
    color: #eff1f3;
    background-color: rgb(21, 91, 140);
    border-color: transparent;
}

.darkTheme .dataPanelHeader {
  height: 30px;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: move;
  background-color: rgb(21, 91, 140);
  color: white;
}

.darkTheme .alertText,
.darkTheme .markerPanel a:hover,
.darkTheme .leaflet-popup a:hover {
  color: #00c8f9 !important;
}

.darkTheme .leaflet-control-container a:hover {
  color: white !important;
}

.darkTheme .list-container a:hover {
  color: black !important;
}
/* 
.darkTheme .leaflet-popup a:hover {
  color: rgb(21, 91, 140) !important;
} */

.darkTheme .table-dark th, .table-dark td, .table-dark thead th {
  border-color: transparent;
}

.darkTheme .markerPanel select,
.darkTheme .staticMapPanel select {
  -webkit-appearance: none;
  background-image:  url("../../assets/icons/arrowDownWhite.png") !important;
  background-size: 13px !important;
  
}

.darkTheme .dx-datebox-wrapper-calendar .dx-overlay-content,
.darkTheme .dx-calendar-navigator .dx-calendar-caption-button.dx-button .dx-button-content
 {
  background-color: rgb(74, 73, 79) !important;
  /* color: #00c8f9 !important; */
  color: white !important;
}

.darkTheme .dx-calendar,
.darkTheme .dx-calendar-cell
 {
  background-color: rgb(64, 63, 69);
  color: white;
}

.darkTheme .dx-calendar-body thead tr th {
  /* background-color: rgb(74, 73, 79); */
  background-color: transparent;
  /* color: #00c8f9; */
  color: white !important;
}

.darkTheme .dx-calendar-cell.dx-calendar-empty-cell {
  background-color: transparent;
  color: gray;
}

.darkTheme .dx-calendar-cell.dx-calendar-empty-cell.dx-state-hover {
  background-color: transparent;
  color: gray;
}

.darkTheme .dx-calendar-cell.dx-state-hover,
.darkTheme .dx-calendar-navigator-previous-month.dx-button.dx-state-hover,
.darkTheme .dx-calendar-navigator-next-month.dx-button.dx-state-hover {
  background-color: rgba(11, 90, 149, 1);
  color:white;
  box-shadow: none;
  /* border-radius: 0px; */
}

.darkTheme .dx-calendar-navigator-previous-view.dx-button .dx-icon, 
.darkTheme .dx-calendar-navigator-previous-month.dx-button .dx-icon,
.darkTheme .dx-calendar-navigator-next-view.dx-button .dx-icon, 
.darkTheme .dx-calendar-navigator-next-month.dx-button .dx-icon {
  color: white;
  /* background-color: rgb(74, 73, 79); */
  opacity: 1;
}

.darkTheme .leaflet-popup-content .variableDate {
  color: white !important;
}