
/* WHITETHEME */

  .whiteTheme .layersPanel .card-body,
  .whiteTheme .leaflet-bar-timecontrol
   {
    background-color: red;
    color: white;
  }
  
  .whiteTheme .card-header .predicciones, .whiteThemeSub .predicciones {
    background-color: blue;
    color: white;
  }
  
  .whiteTheme .card-header .tiempo_real, .whiteThemeSub .tiempo_real {
    background-color: green);
    color: white;
  }
  
  .whiteTheme .card-header .historico, .whiteThemeSub .historico {
    background-color: rgba(115, 170, 199, 0.7);
    color: white;
  }
  
  .whiteTheme .predicciones .mapOptionChecked  img {
    background-color: rgba(11, 90, 149, 0.7);
    -webkit-transition: background-color 190ms linear;
    -moz-transition: background-color 190ms linear;
    -o-transition: background-color 190ms linear;
    -ms-transition: background-color 190ms linear;
    transition: background-color 190ms linear;
  }
  
  .whiteTheme .predicciones .mapOptionChecked {
      color: rgba(11, 90, 149, 1);
      font-weight: bold;
  }
  
  .whiteTheme .tiempo_real .mapOptionChecked  img {
    background-color: rgba(6, 136, 192, 0.7);
    -webkit-transition: background-color 190ms linear;
    -moz-transition: background-color 190ms linear;
    -o-transition: background-color 190ms linear;
    -ms-transition: background-color 190ms linear;
    transition: background-color 190ms linear;
  }
  
  .whiteTheme .tiempo_real .mapOptionChecked {
      color: rgba(6, 136, 192, 1);
      font-weight: bold;
  }
  
  .whiteTheme .historico .mapOptionChecked  img {
    background-color: rgba(115, 170, 199, 0.7);
    -webkit-transition: background-color 190ms linear;
    -moz-transition: background-color 190ms linear;
    -o-transition: background-color 190ms linear;
    -ms-transition: background-color 190ms linear;
    transition: background-color 190ms linear;
  }
  
  .whiteTheme .historico .mapOptionChecked {
      color: rgba(115, 170, 199, 1);
      font-weight: bold;
  }
  
  .whiteTheme .predicciones .lightable:hover  {
    color: rgba(11, 90, 149, 0.7);
  }
  
  
  .whiteTheme .predicciones .minimized .lightable img:hover  {
    background-color: rgba(11, 90, 149, 0.4);
  }
  
  .whiteTheme .tiempo_real .lightable:hover  {
    color: rgba(6, 136, 192, 0.7);
  }
  
  .whiteTheme .tiempo_real .minimized .lightable img:hover  {
    background-color: rgba(6, 136, 192, 0.4);
  }
  
  .whiteTheme .historico .lightable:hover  {
    color: rgba(115, 170, 199, 0.7);
  }
  
  .whiteTheme .historico .minimized .lightable img:hover  {
    background-color: rgba(115, 170, 199, 0.4);
  }

  .whiteTheme .card-header.tiempo_real {
    background-color: rgba(6, 136, 192, 0.7);
    color: white;
  }

  /* #no-bootstrap .whiteTheme .leaflet-bar-timecontrol .leaflet-control-timecontrol a:hover{
    color: red !important;
  } */

/* .simoPanel .card-body {
  background: white !important;
} */


.whiteTheme .markerPanel div:not(.dx-popup-title):not(.dx-button-content):not(.dx-button-text),
.whiteTheme .staticMapPanel div:not(.dx-popup-title):not(.dx-button-content):not(.dx-button-text),
.whiteTheme .dx-overlay-content,
.whiteTheme .leaflet-popup-content .card-body,
.whiteTheme .whiteBG,
.whiteTheme .table-dark,
.whiteTheme .shareInfoPanel,
.whiteTheme .leaflet-popup-tip {
    background: rgb(74, 73, 79);
    color:white !important;
    border-radius: 0px !important;
}

.whiteTheme .markerPanel .dx-button-content,
.whiteTheme .staticMapPanel .dx-button-content
 {
    background-color: rgb(74, 73, 79);
    border: 1.5px solid !important;
    /* min-width: fit-content; */
    color: white;
}

.whiteTheme .staticMapPanel select {
  background-color: rgb(74, 73, 79);
  color: white;
}

.whiteTheme .notifyPopup .card-body {
  background: rgba(74, 73, 79, 0.8);
  color: white;
}

.whiteTheme .notifyPopup .card-header {
  background: rgba(6, 136, 192, 0.7);
  color: white
}

.whiteTheme .popupHeader {
  font-size: 15px !important;
  background: rgb(21, 91, 140) !important;
  color: white !important;
  padding: 7px !important;
}

.whiteTheme .simoPanel .card-header {
  background-color: rgb(21, 91, 140);
  color: white;
}


.whiteTheme #accordionContent *:not(.dx-button-content):not(.dx-button-text),
.whiteTheme #specialContent,
.whiteTheme .table-dark.table-striped tbody tr:nth-of-type(odd),
.whiteTheme .grayBG
{
  background-color: rgb(64, 63, 69) !important;
  color: white;
}

.whiteTheme #specialContentDeep
{
  background-color: black !important;
  color: white;
}

.whiteTheme #accordionContent .card-body {
  border: 1px solid gray;
}


.whiteTheme .markerPanel .dx-state-hover .dx-button-content,
.whiteTheme .staticMapPanel .dx-state-hover .dx-button-content {
  background: rgb(21, 91, 140) !important;
}


.whiteTheme .markerPanel .nav-link {
  color: #eff1f3;
  border-radius: 0px;
  /* background-color: #2a377e;
  border-color: #dee2e6 #dee2e6 #fff; */
}

.whiteTheme .markerPanel .nav-link:hover {
  color: white;
  background-color: #606060;
  border-color:transparent;
}

.whiteTheme .markerPanel .nav-link.active {
    color: #eff1f3;
    background-color: rgb(21, 91, 140);
    border-color: transparent;
}

.whiteTheme .dataPanelHeader {
  height: 30px;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: move;
  background-color: rgb(21, 91, 140);
  color: white;
}

.whiteTheme .alertText,
.whiteTheme .markerPanel a:hover,
.whiteTheme .leaflet-popup a:hover {
  color: #00c8f9 !important;
}

.whiteTheme .leaflet-control-container a:hover {
  color: white !important;
}

.whiteTheme .list-container a:hover {
  color: black !important;
}
/* 
.whiteTheme .leaflet-popup a:hover {
  color: rgb(21, 91, 140) !important;
} */

.whiteTheme .table-dark th, .table-dark td, .table-dark thead th {
  border-color: transparent;
}

.whiteTheme .markerPanel select,
.whiteTheme .staticMapPanel select {
  -webkit-appearance: none;
  background-image:  url("../../assets/icons/arrowDownWhite.png") !important;
  background-size: 13px !important;
  
}

.whiteTheme .dx-datebox-wrapper-calendar .dx-overlay-content,
.whiteTheme .dx-calendar-navigator .dx-calendar-caption-button.dx-button .dx-button-content
 {
  background-color: rgb(74, 73, 79) !important;
  /* color: #00c8f9 !important; */
  color: white !important;
}

.whiteTheme .dx-calendar,
.whiteTheme .dx-calendar-cell
 {
  background-color: rgb(64, 63, 69);
  color: white;
}

.whiteTheme .dx-calendar-body thead tr th {
  /* background-color: rgb(74, 73, 79); */
  background-color: transparent;
  /* color: #00c8f9; */
  color: white !important;
}

.whiteTheme .dx-calendar-cell.dx-calendar-empty-cell {
  background-color: transparent;
  color: gray;
}

.whiteTheme .dx-calendar-cell.dx-calendar-empty-cell.dx-state-hover {
  background-color: transparent;
  color: gray;
}

.whiteTheme .dx-calendar-cell.dx-state-hover,
.whiteTheme .dx-calendar-navigator-previous-month.dx-button.dx-state-hover,
.whiteTheme .dx-calendar-navigator-next-month.dx-button.dx-state-hover {
  background-color: rgba(11, 90, 149, 1);
  color:white;
  box-shadow: none;
  /* border-radius: 0px; */
}

.whiteTheme .dx-calendar-navigator-previous-view.dx-button .dx-icon, 
.whiteTheme .dx-calendar-navigator-previous-month.dx-button .dx-icon,
.whiteTheme .dx-calendar-navigator-next-view.dx-button .dx-icon, 
.whiteTheme .dx-calendar-navigator-next-month.dx-button .dx-icon {
  color: white;
  /* background-color: rgb(74, 73, 79); */
  opacity: 1;
}

/* .whiteTheme .select {
  -webkit-appearance: none;
  background-image:  url("../../assets/icons/arrowDownWhite.png") !important;
  background-size: 13px !important;
  
} */

/* 
  input[type="text"], input[type="date"] textarea {

    background: transparent !important;
    border: none;
  
  } */

  /* input[type="text"], , input[type="date"]{
    background-color: transparent;
    border: 0px;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width:5px;
    color:transparent;
    cursor:default;
} */

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: red !important;
} */